[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keras = ">=3.6"
tensorflow = "*"
matplotlib = "*"
pydot = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
